.social-icons a {
  transition: transform 0.3s ease, color 0.3s ease;
}
.social-icons a:hover {
  transform: scale(1.25);
}

.social-icons a[aria-label="Facebook"]:hover {
  color: #1877F2;
}
.social-icons a[aria-label="Instagram"]:hover {
  color: #E1306C;
}
.social-icons a[aria-label="Tiktok"]:hover {
  background: linear-gradient(45deg, #25F4EE,#100c08, #FE2C55);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease;
}
.social-icons a[aria-label="YouTube"]:hover {
  color: #FF0000;
}
